/* --------------------------------------------------------------
	Header
-------------------------------------------------------------- */

.site-branding {
	@include span-columns(2);
}

.site-title {
	margin: 0;
	max-width: rem(92);
	display: inline-block;
	width: rem(92);
	@include media($large-screen){
		margin: rem(51) 0 rem(52);
		width: 100%;
	}
}

.page-header {
	@include media($medium-screen) {
		position: relative;

		z-index: 113;
		display: block;
		margin-bottom: rem(-184);
	}
	> .container {
		@extend .row;
	}
}