/* --------------------------------------------------------------
	Main Layout
-------------------------------------------------------------- */

.container {
	@include outer-container();
}

.row {
	@include clearfix;
	padding: 0 rem(15);
}

//hero
.hero-header {
	//	background: url("../img/hero-img.jpg");
	overflow: hidden;
	text-align: center;
	position: relative;
	.subtitle {
		@extend .text-drop-shadow;
		margin-bottom: 0;
		margin-top: rem(220);

	}
	.title {
		@extend .text-drop-shadow;
		margin-top: 0;
		margin-bottom: rem(220);
	}
	figure {
		//		position: absolute;
		//		top: 0;
		//		left: 0;
		//		width: 100%;
		img {
			width: 100%;
			max-width: 100%;
			display: block;
		}
	}

}

.hero-container {
	//	@extend .row;
	//	@include outer-container();
	position: absolute;
	width: 100%;
	z-index: 2;
	//	min-height: rem(910);
	margin-top: rem(184);
}

.hero-content {
	@include outer-container();

}

.section-wrap {
	padding: rem(30) 0;
	@include media($medium-screen) {
		padding: rem(50) 0;
	}

}

/* --------------------------------------------------------------
	Blog
-------------------------------------------------------------- */
.section-intro {
	color: black(0.8);
	text-align: center;
	margin: 0 auto rem(60);
	float: none;
	width: 100%;
	@extend .row;
	h1 {
		color: $gray;
		margin-bottom: 0;
	}
	h2 {
		color: $gray-light;
		text-align: center;
		font-family: $sans-serif;
		font-size: rem(20);
		display: inline-block;
		font-weight: 300;
		margin-top: 0;
	}
	@include media($medium-screen) {
		width: 73%;
	}
}

.section-content {

	@extend .row;
	.post {
		@include span-columns(12);

		@include media($medium-screen) {
			@include span-columns(4);
			&:last-child {
				@include omega();
			}
		}
	}
}

.post {
	a {
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.entry-header {
	text-align: center;
	margin-bottom: rem(25);
	h1 {
		font-size: rem(18);
		font-family: $sans-serif;
		line-height: 1.4;
		color: black;
		a:hover, a:focus {
			color: black;
		}
	}
	a {
		color: $gray;
	}
}

.entry-content {
	text-align: center;
	p {
		color: $gray-light;
		font-size: rem(14);
	}
}

.post-thumbnail {
	display: inline-block;
	width: 100%;
	text-align: center;
}

