/* --------------------------------------------------------------
	Main Layout
-------------------------------------------------------------- */

.container {
	@include outer-container();
}

.row {
	@include clearfix;
	padding: 0 rem(15);
}

.content-wrap {
	min-height: 100%;
	margin-bottom: -234px;
	&:after {
		content: "";
		display: block;
		height: 234px;
	}

}

//HERO
.hero-header {
	overflow: hidden;
	text-align: center;
	position: relative;
	.subtitle {
		@extend .text-drop-shadow;
		margin-bottom: 0;
		font-size: rem(16);
		@include media($medium-screen) {
			font-size: rem(24);
		}
		@include media($large-screen) {
			font-size: rem(30);
		}
	}
	.title {
		@extend .text-drop-shadow;
		margin-top: 0;
		font-size: rem(25);
		line-height: 1.2;
		@include media($medium-screen) {
			font-size: rem(40);
		}
		@include media($large-screen) {
			font-size: rem(70);
			margin-bottom: rem(100);
		}
		@include media($xlarge-screen) {
			font-size: rem(70);
			margin-bottom: rem(220);
		}
	}
	figure {
		img {
			width: 100%;
			max-width: 100%;
			display: block;
		}
	}
	.button {
		display: none;
		@include media($medium-screen) {
			display: inline-block;

		}
	}

}

.hero-container {
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 50%;
	margin-top: rem(-70);

	@include media($medium-screen) {
		margin-top: rem(-30);
	}
	@include media($large-screen) {
		margin-top: rem(-110);
	}
	@include media($xlarge-screen) {
		margin-top: rem(-80);
	}
}

.hero-content {
	@include outer-container();
	@include animation-delay(0.4s);

}

.section-wrap {
	padding: rem(30) 0;
	@include animation-delay(0.2s);

	@include media($medium-screen) {
		padding: rem(50) 0;
	}

}

/* --------------------------------------------------------------
	Blog
-------------------------------------------------------------- */
.section-intro {
	color: black(0.8);
	text-align: center;
	margin: 0 auto rem(60);
	float: none;
	width: 100%;
	@extend .row;
	h1 {
		color: $gray;
		margin-bottom: 0;
	}
	h2 {
		color: $gray-light;
		text-align: center;
		font-family: $sans-serif;
		font-size: rem(20);
		display: inline-block;
		font-weight: 300;
		margin-top: 0;
	}
	@include media($medium-screen) {
		width: 73%;
	}
}

.section-content {

	@extend .row;
	.post {
		@include span-columns(12);

		@include media($medium-screen) {
			@include span-columns(4);
			&:last-child {
				@include omega();
			}
		}
	}
}

.post {
	a {
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.entry-header {
	text-align: center;
	margin-bottom: rem(25);
	h1 {
		font-size: rem(18);
		font-family: $sans-serif;
		line-height: 1.4;
		color: black;
		a:hover, a:focus {
			color: black;
		}
	}
	a {
		color: $gray;
	}
}

.entry-content {
	text-align: center;
	p {
		color: $gray-light;
		font-size: rem(14);
	}
}

.post-thumbnail {
	display: inline-block;
	width: 100%;
	text-align: center;
}